header {
    background-color: black;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    align-items: stretch;
    justify-content: space-between;
  }
header #nameSection {
    align-items: center;
    display: flex;
    flex-grow: .5;
    justify-content: center;
    font-family: cursive;
}
h1 p {
    display: inline;
    font-family:cursive;
    font-style: italic;
    padding: 0%;
    margin: 0;
}
.hoverText {display: none;}

#nameSection h1:hover {
    display: none;
}
#nameSection h1:hover + .hoverText {display: block;
color: white;}

header img {
    flex-grow: .1;
    margin-left: 5%;
}



  header nav {
    flex-grow: 1;
    display: flex;
    justify-items: stretch;
}
header h1 {
   
    margin-left: 5%;
    
}

header a {
    color: white;}
header nav ul{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;


    
}
header nav ul li {
    font-size: 1px;
    display: inline;
    padding-left: 5%;

}

@media screen and (max-width: 600px) {

    header  {
        height: 50px;
    }
    header nav ul li {
        font-size: 10px;}
}


@media screen and (min-width: 600px) {
    header  {
        height: 100px;
    }
    header nav ul li {
        font-size: 12px;}
}



@media screen and (min-width: 768px) {

    header  {
        height: 150px;
    }
    header nav ul li {
        font-size: 32px;}
}

@media screen and (min-width: 992px) {
    header {
        height: 200px;
    }
    header nav ul li {
        font-size: 18px;}
}

