:root {
    --darkestVariation: rgb(22, 29, 4);
    --darkVariation: rgb(53, 65, 62);
    --mediumVariation: rgb(77, 91, 88);
    --lightVariation: rgb(160, 171, 169);
    --lightestVariation: rgb(202, 206, 205);
    --white: rgb(255, 255, 255);
    --primaryColor: rgb(145, 226, 207);
    --heading1FontSize: 44px;
    --heading2FontSize: 36px;
    --heading3FontSize: 28px;
    --heading4FontSize: 22px;
    --bodyFontSize: 18px;
    --small: 15px;
}
   
body {
    background-color: var(--darkestVariation);
    display: flex;
    align-items: stretch;
    border-color: var(--darkVariation);
    margin-top: 0;
  
  
 


}
main {
    display: flex;
    width: 100vw;
    align-items: top;
    flex-direction: column;
    margin-right: 5vw;
}
header {
    display: flex;
    height: 10vh;
    width: 95vw;
    align-items: center;
   justify-content: left;
    position: fixed;
    margin-top: 0pt;
    border-color: var(--lightestVariation);
    border-bottom-style: solid;
    background-color: var(--darkestVariation);
 
    
    
}

nav {
    text-align: center;
}

header h1{
    color: var(--lightestVariation);
    font-size: var(--heading2  FontSize);
    text-align: center;
    justify-self: center;

}





header a {
    text-decoration: none;
    text-align: center;
    color: var(--lightestVariation);
    margin: 0pt 10pt;
    font-size: var(--heading2FontSize);
}

.homeSection {
    margin-top: 20vh;
    width: 95vw;
    display: flex;
    justify-content: space-between;


}

.leftSideHome {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.leftSideHome > * {
    margin-top: 0pt;
    margin-bottom: 3pt;

}

.abooutMe {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    font-size: var(--heading1FontSize);
    color: var(--white);
    text-emphasis: bold;

}

#hello {
    margin-top: 0pt;
}

img {
    flex-grow: 1;
    height: 75vh;
    border-radius: 10pt;
}

.learningPath {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 10vh;

}

li {
    display: inline;
}

.learningPath h2 {
    border-bottom-style: solid;
    border-color: var(--lightVariation);
    border-bottom-width: 3pt;
    text-align: center;
    margin-bottom: 0pt;

}

h2 {
    font-size:var(--heading2FontSize);
    color: var(--lightestVariation);
}
h3 {
    font-size: var(--heading3FontSize);
    color: var(--lightVariation);
}

h4 {
    color: var(--lightVariation);
}

.homeSection {
    line-height: 1;
}

